<% provide(:title, 'About Us') %>
<head>
  <style type = "text/css">
      body {background-color: #8b0000;}

  </style>
</head>
<body>
<div class="row">
  <aside class="span4">
    <section></section>
  </aside>
</div>
<div class="progress progress-success progress-striped active">
  <div class="bar" style="width: 100%"></div>
</div>
<div class="center hero-unit" >
<h1><em>About Us</em></h1>
<p>
  <b>
  The <a href="http://localhost:3000/">BESTBAY-RubyDart</a>
  is a leading auction website for bidding products.
  </b>
<p>
  <i>
  You can sell and buy any products you are interested in at a much more resonable price.
  We hope that you can enjoy yourself!
  </i>
</p>
</div>
</body>
