<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <b>
  The <a href="http://localhost:3000/">BESTBAY-RubyDart</a>
  is a leading auction website for bidding products.
  </b>
<p>
  <i>
  You can sell and buy any products you are interested in at a much more resonable price.
  We hope that you can enjoy yourself!
  </i>
</p>
