<% provide(:title, 'Help') %>
  <style type = "text/css">
      body {background-color: #8b0000;}
  </style>

<div class="center hero-unit" >
  <h1><em>Help</em></h1>
  <p>
    Get help on accessing BESTBAY website.
  </p>
</div>
