<head>
<style type = "text/css">
  body {background-color: #8b0000;}

</style>
</head>
<body>
<div class="center hero-unit">

  <h1><em>Welcome to the <div style="color: #8b0000">BESTBAY</div></em></h1>

  <p><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></p>

</div>
<body>


