<style type = "text/css">
  body {background-color: #8b0000;}
</style>
<div class="center hero-unit">
  <h1><em>Welcome to the <div style="color: #8b0000">BESTBAY</div></em></h1>
  <div class="span8 offset1">
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">

        <% @products = Product.all %>
            <% @products.sort_by &:created_at %>
            <% @cnt = 0 %>
            <% @products.each do |product| %>
              <% if @cnt == 0 %>
                <div class="active item"><%= link_to image_tag(product.image.url(:thumb), :class => 'productSmallImg'), { :action => 'show', :id => product.id}%></div>
              <% else %>
                <div class="item"><%= link_to image_tag(product.image.url(:thumb), :class => 'productSmallImg'), { :action => 'show', :id => product.id}%></div>
              <% end %>
            <% end %>
      </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  
  <div class="row">
    <aside class="span4">
      <section></section>
    </aside>
   </div>
  <p><%= link_to "Sign up now!", signup_path, class: "btn-large btn-warning" %></p>
</div>
