<head>
  <style type = "text/css">
      body {background-color: #e9967a;}
  </style>
</head>
<body>
<div class="row">
  <aside class="span4">
    <section></section>
  </aside>
</div>
<div class="progress progress-success progress-striped active">
  <div class="bar" style="width: 100%"></div>
</div>
<div class="center hero-unit">

<h1><i>Welcome on board!</i></h1>

</div>

<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><h3><em>Hot Product Images</em></h3></div>
    <div class="item"><h3><em>Hot Product Images</em></h3></div>
    <div class="item"><h3><em>Hot Product Images</em></h3></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="rails.png" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</body>
