<head>
  <style type = "text/css">
      body {background-color: #fa8072;}
  </style>
</head>
<body>
<div class="container">
<div class="row">
  <aside class="span4">
    <section></section>
  </aside>
</div>
<div class="progress progress-success progress-striped active">
  <div class="bar" style="width: 100%"></div>
</div>
<div class="center hero-unit">

<h1><i>Welcome on board!</i></h1>

</div>

<div class="span7 offset2">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="active item"><%= link_to image_tag("book.jpg", :size => " 80 * 64 ") %></div>
      <div class="item"><%= link_to image_tag("watch.jpg",:size=>"80 * 64") %></div>
      <div class="item"><%= link_to image_tag("1280-1024.jpg", :size => " 80 * 64 ") %></div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
</div>

</body>
