// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img {
  transition: height 2s;
  -moz-transition: height 2s; /* Firefox 4 */
  -webkit-transition: min-height 2s; /* Safari and Chrome */
  -o-transition:height 2s; /* Opera */
  min-height: 200px;
  border-right: 2px solid #d3d3d3;
  padding-right: 10px;
}

img:hover {
  min-height: 400px;
}

table tr td {
  vertical-align: bottom;
}

.price {
  color: #900;
}

.price b{
  font-size: 13px;
}

.title {
  font-size: 1.7em;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

#currentPrice {
  padding-bottom: 3px;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 30px;
  border-bottom: 2px solid #e3e3e3;
}