<head xmlns="http://www.w3.org/1999/html">
  <style type = "text/css">
      body {background-color: #ffc40d;}
  </style>
</head>
<body>
<div class="row">
  <aside class="span4">
    <section></section>
  </aside>
</div>
<h1><i>Post a new product</i></h1>

<%= render 'form' %>

<%= link_to 'Back', products_path, class: "btn btn-large btn-danger" %>
</body>
